* {
  font-family: "Montserrat", sans-serif;
}
.div1 {
  margin: 10px;
  text-align: center;
}
.div1div1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #60c0e8;
  margin-top: -5px;
  height: 60px;
}
.div1img1 {
  width: 100%;
  height: 350px;
}
.div1img2 {
  padding-top: 17px;
  color: #ffffff;
}
.div1div1:hover {
  background-color: #60adce;
  cursor: pointer;
}
.div1hh1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 21px;
  padding-top: 20px;
}

.div2 {
  margin: 10px;
  margin-top: 25px;
}
.div2hh1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 32px;
}
.div2hh2 {
  color: #60c0e8;
}
.div2hh3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.div2div1 {
  text-align: center;
}
.div2butt1 {
  background-color: #60c0e8;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px 30px;
  font-size: large;
  margin-top: 17px;
}
.div2butt1:hover {
  background-color: #60adce;
  cursor: pointer;
}

/* this handles the line in each section heading  */
#join-us .sec-head {
  width: 30%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
#join-us .sec-head span {
  background: #fff;
  padding: 0 10px;
}
/* join us images border */
#join-us .join-img {
  border: 5px solid #60c0e8 !important;
}
/* box shadow */
#join-us .box-shadow {
  box-shadow: 0px 5px 30px 0.5px #e6e6e6;
}
#join-us .box-shadow:hover {
  box-shadow: 0px 5px 30px 5px #c7c7c7;
}

@media screen and (max-width: 320px) {
  #join-us .sec-head {
    width: 70%;
  }
}
/* Media query for join us cards */
@media screen and (max-width: 590px) {
  .joindiv{
    width: 90% !important;

  }
  .row{
    justify-content: center;
  }
  .joincont{
    width: 90% !important;
  }
  .jointext{
    width: 75% !important;
  }
}