* {
  font-family: "Montserrat", sans-serif;
}

/* this handles the line in each section heading  */
.sec-head {
  width: 30%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.sec-head span {
  background: #fff;
  padding: 0 10px;
}
/* join us images border */
.join-img {
  border: 5px solid #60c0e8 !important;
}
/* box shadow */
.box-shadow {
  box-shadow: 0px 5px 30px 0.5px #e6e6e6;
}
.box-shadow:hover {
  box-shadow: 0px 5px 30px 5px #c7c7c7;
}

@media screen and (max-width: 320px) {
  .sec-head {
    width: 70%;
  }
}
